{% extends 'base.html.twig' %}

{% block title %}Salon de coiffure Hugo Coiffure - photos{% endblock %}

{% block body %}
<h1>Listes des photos de la categorie {{ categorie.libelleCategorie }}</h1>
<div class="row">
 {% for image in categorie.imageDiaporamas %}
    
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
        
            <div class="card h-100" style="margin-top = 20px">
                <img class="card-img-top" src="{{ asset('/images/'~ image.src) }}" width="50%" alt="{{ image.description }}">
                <div class="card-body" style="background-color:white;color:black;">
                    <h5 class="card-title">{{ image.libelleImage }}</h5>
                  
                </div>
                
            </div>
            </a>
        </div> 
           
        
                
        {% else %}
            Aucune image enregistrée
            
        {% endfor %}
        </div>
{% endblock %}
