body{
    background-color: black;
    color: white;
}
#infos,#horaires,#description{
    color: white;
    text-align: center;
    font-size: large;
    padding-top: 30px;
}
tr {
    padding-top: 10px;
}
#map{
    margin-top: 30px;
    width:100%;
    height:200px;
}
h1{
    color: white;
}
a,li,td,th{
    color: black;
}
a:hover{
    color:red;

}
.card-body{
    color:black;
    text-align: center;
}