<form method="post" action="{{ path('image_diaporama_delete', {'id': image_diaporama.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ image_diaporama.id) }}">
    <button class="btn">Delete</button>
</form>
