<form method="post" action="{{ path('image_diaporama_delete', {'id': image_diaporama.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette image ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ image_diaporama.id) }}">
    <button>SUPPRIMER</button>
</form>
