{% extends 'base.html.twig' %}

{% block title %}New ImageDiaporama{% endblock %}

{% block body %}
    <h1>Create new ImageDiaporama</h1>

    {{ include('admin/image_diaporama/_form.html.twig') }}

    <a href="{{ path('image_diaporama_index') }}">back to list</a>
{% endblock %}
