{% extends 'base.html.twig' %}

{% block title %}Nouvelle Catégorie{% endblock %}

{% block body %}
    <h1>Créer une nouvelle catégorie d'image</h1>

    {{ include('admin/categorie_image/_form.html.twig') }}

    <a href="{{ path('categorie_image_index') }}">retour à la liste</a>
{% endblock %}
